@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
html{
    scroll-behavior: smooth;
}
body{
    /*background-color: #131313;*/
    background-color: rgb(211, 226, 233);
    color: black;
    padding: 0 10px;
}
.container{
    max-width: 900px;
    margin: auto;
}
/* seccion cabecera */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: #262626;*/
    background-color: rgba(255, 255, 255, 0.863);
    padding: 10px 40px;
    border-radius: 10px;
    margin: 30px 0;
    position: sticky;   
    top: 0; 
}
.gradient-text {
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #1ac3ed, #2370d5);
    /*background-image: linear-gradient(45deg, #ed921a, #d5235f);*/
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
header nav a{
    text-decoration: none;
    display: inline-block;
    /*color: #fff;*/
    color:black;
    margin-left: 20px;
}
header nav a:hover{
    color: #fe9018;
}
.nav-responsive{
    display: none;
    font-size: 25px;
    color: #a8a8a8;
 }

/* SECCIÓN INICIO*/
#inicio{
    /*background-color:#262626;*/
    background-color: rgba(255, 255, 255, 0.863);
    padding: 40px;
    border-radius: 10px;
}
#inicio .fila{
    display: flex;
    align-items: center;
}
#inicio .fila .col{
    width: 50%;
}
#inicio .fila .col .contenedor-img{
    max-width: 200px;
    width: fit-content;
    margin: auto;
}
#inicio .fila .col .contenedor-img img{
    width: 100%;
    border-radius: 50%;
}
#inicio .fila .col p{
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#inicio .fila .col h1{
    font-size: 2.5rem;
    margin: 10px 0;
}
#inicio .fila .col button{
    display: inline-block;
    border: none;
    /*background: linear-gradient(45deg, #ed921a, #d5235f);*/
    background: linear-gradient(45deg, #1ac3ed, #2370d5);;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 0;
}

#download{
    text-decoration: none;
    color: white;
}
/* sección sobre mi */
#sobremi{
    /*background-color: #262626;*/
    background-color: rgba(255, 255, 255, 0.863);
    margin: 30px 0;
    border-radius: 10px;
    overflow: hidden;
}
#sobremi .fila{
    display: flex;
}
#sobremi .fila .col{
    width: 100%;
}
#sobremi .fila .col h3{
    /*color: #fe9018;*/
    color: #2370d5;
    margin-bottom: 20px;
    font-size: 24px;
}
#sobremi .fila .col h2{
    color: black;
    margin-bottom: 20px;
    font-size: 2.2rem;
}
#sobremi .fila .col p{
    font-size: 14px;
}
#sobremi .fila .col .contenedor-img{
    width: 100%;
}
#sobremi .fila .col .contenedor-img img{
    width: 90%;
    display: block;
    border-radius: 5%;
    margin: 70px 30px;
}
#sobremi .fila .info{
    padding: 40px ;

}
/* sección curriculum */
#curriculum{
    background-color: rgba(255, 255, 255, 0.863);
    margin: 30px 0;
    border-radius: 10px;
    padding: 40px;
}
#curriculum  h3{
    /*color: #fe9018;*/
    color: #2370d5;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
#curriculum .fila{
    display: flex;
}
#curriculum .fila .col{
    width: 50%;
}
#curriculum .fila .col .experiencia{
    /*color: #fe9018;*/
    color: #2370d5;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
}
#curriculum .fila .col h2{
    color: black;
    margin-bottom: 20px;
    font-size: 2.2rem;
    line-height: 40px;
}
.txtEspecial{
    /*color: #fe9018;*/
    color: #2370d5;
}
#curriculum .info{
    border-left: 2px solid black;
    position: relative;
    
}
#curriculum .info .item{
    padding-left: 20px;
    margin-bottom: 30px;
}
#curriculum .info .item .circulo{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    display: block;
    position: absolute;
    left:-6px;
    margin-top: 6px;
}
/* sección porfolio */
#porfolio{
    background-color: rgba(255, 255, 255, 0.863);
    margin: 30px 0;
    border-radius: 10px;
    padding: 40px;
}
#porfolio  h3{
    /*color: #fe9018;*/
    color: #2370d5;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
#porfolio .fila{
    display: flex;
    justify-content: space-between;
}
#porfolio .fila .col{
    width: 30%;
}
#porfolio .fila .trabajo{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
#porfolio .fila .trabajo .desc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
    cursor: pointer;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fe9018;
}
#porfolio .fila .trabajo .desc:hover{
    opacity: 1;
}
#diamond{
    text-decoration: none;
    color: white;
}
#porfolio .fila img{
   width: 100%;
   display: block;
}
/*Skill*/
#html-icon{
    width: 15%;
}
#css-icon{
    width: 15%;
}
#js-icon{
    width: 15%;
}
#react-icon{
    width: 15%;
}
#git-icon{
    width: 15%;
}
/* sección contacto */
#contacto{
    background-color: rgba(255, 255, 255, 0.863);
    margin: 30px 0;
    border-radius: 10px;
    padding: 40px;
}
#contacto  h3{
    /*color: #fe9018;*/
    color: #2370d5;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
#contacto .redes{
    text-align: center;
    margin-bottom: 30px;
}
#contacto .redes a{
    text-decoration: none;
    font-size: 80px;
    display: inline-block;
    margin: 0 20px;
}
#contacto form{
    max-width: 500px;
    margin: auto;
    background-color: #212121;
    padding: 20px;
    border-radius: 10px;
}
#contacto form .entrada{
    margin-bottom:30px;
}
#contacto form label{
    display: block;
}
#contacto form input{
    background-color: transparent;
    border: none;
    border-bottom:1px solid #fe9018;
    width: 100%;
    padding: 7px 0;
    outline: none;
    color: #ed921a;
}
#contacto form textarea{
    background-color: transparent;
    border: none;
    border-bottom:1px solid #fe9018;
    width: 100%;
    height: 100px;
    outline: none;
    color: #ed921a;
    padding: 7px 0;
}
#contacto form button{
    display: inline-block;
    border: none;
    background: linear-gradient(45deg, #ed921a, #d5235f);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 0;
}
/* sección responsive */
@media only screen and (max-width: 700px) {
    header  nav{
        position: initial;
        display: none;
        transform: translate(0);
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        /*background-color: #252A2E;*/
        background-color: #448ce9;;
        /*background-color: rgba(255, 255, 255, 0.863);*/
        z-index: 99;
    }
    nav.responsive a{
        display: block;
        width: fit-content;
        margin: 10px auto;
        font-size: 30px;
        color: white;
    }
    #inicio .fila{
        display: block;
        text-align: center;
    }
    #inicio .fila .col{
        width: 100%;
    }
    #sobremi .fila{
        display: block;
        text-align: center;
    }
    #sobremi .fila .col{
        width: 100%;
    }
    #curriculum .fila{
        display: block;
        text-align: center;
    }
    #curriculum .fila .col{
        width: 100%;
    }
    #curriculum .fila .col .info{
        text-align: left;
    }
    #porfolio .fila{
        display: block;
        text-align: center;
    }
    #porfolio .fila .col{
        width: 80%;
        margin: auto;
    }
}
